[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
